
#formFAQ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  text-align: center;
  input{
    margin: 1% 0;
    color:white;
  }
  button{
    color: white;
    width: 40%;
    margin: 2% auto;
  }
}