
.sec_formFAQ{
  background-color: lightgrey;
  margin: 0 16%;
  padding: 0 2%;
  border: solid 2px black;
  h3{
    text-align:center;
  }
  #formFAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 40%;
    margin: auto;
    text-align: center;
    input, textarea{
      margin: 1% 0;
      color:white;
      text-align:center;
    }
    button{
      color: white;
      // width: 40%;
      margin: 2% auto;
    }
  }
}